/* You can add global styles to this file, and also import other style files */
body {
    background: #111; /* Dark background for the entire app */
    color: #fff; /* Light text */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }